<%- include('../partials/header.ejs') %>
<main>
    <!-- Tell the user that there was an internal server error -->
    <h1>Internal Server Error</h1>
    <p>Sorry, there was an internal server error.</p>
<% if (NODE_ENV.includes('dev')) { %>
    <p>Error details (for development only):</p>
    <pre>
        <%= error %>
        <p>Stack trace:</p>
        <%= stack %></pre>
   <% } %>
</main>
<%- include('../partials/footer.ejs') %>